<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-divider color="light">
    Calcule seu IMC:
  </ion-item-divider>
  <ion-item>
    <ion-label color="primary" floiating>Peso</ion-label>
    <ion-input [(ngModel)]="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="sucess" floiating>Altura</ion-label>
    <ion-input [(ngModel)]="altura"></ion-input>
  </ion-item>
  <button ion-button full (click)="calculoimc()">Calcular</button>
  
  <ion-item-divider color="light">
    Você está...
    <ion-item>{{result}}</ion-item>
    <ion-item>{{text}}</ion-item>
  </ion-item-divider>
</ion-content>
